<div class="sidenav">
    <div class="heading">
        <a class="nav-heading" routerLink="/">Cisco WebEx</a>
        <p class="nav-subheading">SDK Documentations</p>
    </div>
    <a routerLink="/rooms" routerLinkActive="active">Room</a>
    <!-- <div *ngFor="let room of listOfRooms">
        <a>{{room.title}}</a>
    </div> -->
    <div class="dropdown-div-txt">Your Spaces</div>
    <div class="dropdown-div">
        <i class="md-icon icon icon-arrow-down_24 dropdown-icon" *ngIf="!showRooms" (click)="listRooms()"></i>
        <i class="md-icon icon icon-arrow-up_24 dropdown-icon" *ngIf="showRooms" (click)="hideRooms()"></i>
    </div>
    
    <md-list *ngIf="showRooms">
        <div md-list-item *ngFor="let room of listOfRooms" label='{{room.title}}' class="list-rooms"></div>
    </md-list>
</div>
