.center {
    /* position: relative;
    margin: auto;
    width: 70%;
    height: 850px;
    border: 1px solid grey;
    padding: 10px;
    z-index: 10;
    box-shadow: 5px 10px #888888;
    margin-top: 10px; */
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 10px;
    z-index: 5;
    margin-top: 345px;
    text-align: center;
    
  }

  .btn-css {
    margin-left: 80px;
  }
  .logout-btn{
    margin-top: 10px;
    text-align: right;
  }

  .sendmsg{
    border-top: 1px solid black;
    margin-left: 200px;
    width: 100%;
    padding-top: 7px;
  }

  .message-right{
    text-align: right;
  }

  .member-input {
    width: 95%;
    border-radius: 25px;
    margin-left: 2%;
    border-color: grey;
  }
  .topbar-action-div {
    width: 500px;
  }

  .icon-weight-bold {
    font-weight: bold;
  }

  .top-bar-css {
    margin-left: 92px;
    width: 105%;
  }

  .message-content-div {
    margin-left: 200px;
    width: 100%;
    height: 750px;
    overflow-y: scroll;
  }

  .message-div {
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    hyphens: auto!important;
  }

  .send-message-btn {
    text-align: center;
    padding-top: 12px;
  }
  
  .message-content-style {
    font-size: 15px;
  }
  