<div class="wrapper row">
  <nav id="sidebar" class="columns medium-2">
    <app-navbar (roomDetails)="getRoomDetails($event)"></app-navbar>
  </nav>
  <div class="top-bar-css">
    <header md-top-bar color="dark">
      <!-- <ng-container
            *ngTemplateOutlet="brand"
            ngProjectAs="brand"
          ></ng-container> -->
      <md-top-bar-nav>
        <ng-container *ngTemplateOutlet="list"></ng-container>
      </md-top-bar-nav>
      <md-top-bar-right>
        <div class="md-top-bar__user"></div>
        <div class="md-top-bar__logged-out">
          <button md-button color="blue" aria-label="myAriaLabel" (click)="logout()">
            Logout
          </button>
        </div>
      </md-top-bar-right>

      <md-top-bar-mobile [shouldCloseOnClick]="false">
        <!-- <ng-container
              *ngTemplateOutlet="brand"
              ngProjectAs="brand"
            ></ng-container> -->
        <ng-container *ngTemplateOutlet="list"></ng-container>
      </md-top-bar-mobile>

    </header>
    <!-- <ng-template #brand>
          <a
            href="javascript:void(0)"
            md-top-bar-brand
            title="Momentum UI"
            icon="icon-cisco-logo"
          ></a>
        </ng-template> -->

    <ng-template #list>
      <!-- <a md-list-item link="javascript:void(0)" [active]="true">Develop</a>
          <a md-list-item link="javascript:void(0)">Styles</a>
          <a md-list-item link="javascript:void(0)">Layout</a> -->
      <input *ngIf="showMessages" class="md-input member-input" id="userInput" [(ngModel)]="addUser" type="text"
        placeholder="Add members to space">
      <a *ngIf="showMessages" md-list-item>
        <i class="md-icon icon icon-add_24 icon-weight-bold" (click)="addUserToRoom()"></i>
      </a>
    </ng-template>

  </div>
  <div class="context" id="main" class="columns medium-10">

    <div class="row logout-btn">
      <!-- <button md-button aria-label="myAriaLabel" color="blue" (click)="logout()">
        Logout
      </button> -->
    </div>
    <div #scrollMe class="row message-content-div">
      <div class="center" *ngIf="!showMessages">
        <img class="logo" src="assets/images/WebexTeams-icon.png" alt="WebEx Teams">
        <br>
      </div>
      <div>
        <md-list *ngFor="let message of listMessages">
          <span class="md-badge md-badge--blue-pastel">
            <div md-list-item label='{{message.personEmail}}:'></div>
          </span>
          <br>
          <div class="message-div">
            <!-- <span class="md-badge md-badge--pastel"> -->
              <!-- <div md-list-item>{{message.text}}</div> -->
              <p class="message-content-style">{{message.text}}</p>
            <!-- </span> -->
          </div>
          <br>
        </md-list>
      </div>
    </div>
    <div class="row sendmsg" *ngIf="showMessages">
      <div class="columns medium-11">
        <md-input-container inputSize="medium-24">
          <textarea mdInput [(ngModel)]="message" id="send-msg" placeholder="Write a message"></textarea>
        </md-input-container>
      </div>
      <div class="columns medium-1 send-message-btn">
        <button md-button aria-label="myAriaLabel" color="blue" (click)="sendMessageToRoom()">
          Send
        </button>
      </div>
    </div>
    <!-- <div class="center">
      <h1>Room SDKs</h1>

      <div>
        <h3>Create Room SDK example:</h3>
        <input type="text" [(ngModel)]="roomName" id="roomName" />
        <button class="btn-css" (click)="createRoom()">Create Room</button> -->
    <!-- <div *ngIf="showRoomCreatedMessage">Congrats!! You generated your room {{roomName}} and unique room id is {{createdRoomId}}.</div> -->
    <!-- </div>
      <br>
      <div>
        <h3>Add User to Room SDK example:</h3>
        <input type="text" [(ngModel)]="addUser" id="addUser" />
        <button class="btn-css" (click)="addUserToRoom()">Add User</button>
      </div>
      <br>
      <div>
        <h3>Send Message to Room SDK example:</h3>
        <input type="text" [(ngModel)]="message" id="message" />
        <button class="btn-css" (click)="sendMessageToRoom()">Send Message</button>
      </div>
      <br>
      <div>
        <h3>Delete Room SDK example:</h3> -->
    <!-- <input type="text" [(ngModel)]="deleteRoomId" id="deleteRoomId" /> -->
    <!-- <button (click)="removeRoom()">Remove Room</button>
      </div>
      <br>
      <div>
        <h3>List Room SDK example:</h3> -->
    <!-- <input type="text" [(ngModel)]="deleteRoomId" id="deleteRoomId" /> -->
    <!-- <button (click)="listRooms()">List Rooms</button>
      </div>
    </div>
  </div> -->
  </div>
</div>