.center {
    position: relative;
    margin: auto;
    width: 70%;
    height: 850px;
    border: 1px solid grey;
    padding: 10px;
    z-index: 5;
    box-shadow: 5px 10px #888888;
    margin-top: 10px;
  }

  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}