.center {
  position: relative;
  margin: auto;
  width: 100%;
  height: 850px;
  padding: 10px;
  z-index: 5;
  margin-top: 345px;
  text-align: center;
  }

  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.logo {
  height: 100px;
  width :100px;
  padding: 4px 4px 4px 4px
}

.login-btn {
  width: 107px;
  margin-top: 8px;   
}